.Homepage {
    min-height: 100vh;
    min-width: 710px;
    background-color: #EFEFEF;
    padding: 15px;
    box-sizing: border-box;
}

.InsideContainer {
    height: 100%;
    box-sizing: border-box;
    display: flex;
}