.Menu {
    padding: 15px;
    width: 290px;
    background-color: #E8E8E8;
    height: 100%;
    box-sizing: border-box;
    border-radius: 23px;
}

#Searchbar {
    background-color: #E8E8E8;
    border: 1px #EDEDED solid;
    font-size: 14px;
}

.Title {
    font-size: 10px;
    font-weight: bold;
}
